@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

$rowWidth: 1000px;
$columnGutter: 30px;
$totalColumns: 12;
$mobileTotalColumns: 4;
$blockGridElements: 12; // Highest number of block grid elements, Maximum of 24 supported

// Brand Colors
$lightBlue: #1CAADB;
$blue: #1382C3;
$darkBlue: #1072AC;
$gray: #eee;
$darkGray: #828282;
$lightGray: #C6C6C6;

// Colors Settings

$mainColor: $blue;
$secondaryColor: $blue;
$alertColor: #c60f13;
$successColor: #5da423;
$txtColor: #222;
$highlightColor: #ffff99;
$black: #000;
$white: #fff;
$shinyEdge: rgba(#fff, .5);
$darkEdge: rgba(#000, .2);

// Font Settings

$fontSmoothing: antialiased;
$headerFontFamily: "open_sans_lightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontWeight: bold;
$headerFontStyle: normal;
$headerFontColor: #222;
$bodyFontFamily: $headerFontFamily;
$bodyFontWeight: normal;
$bodyFontStyle: normal;
$bodyFontColor: $txtColor;

// Text Direction Settings

// $textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Button Settings

$buttonRadius: 3px;
$btnBase: 10px;

$tinyBtnBase: $btnBase - 5;
$smallBtnBase: $btnBase - 3;
$largeBtnBase: $btnBase + 5;

// Form Settings

$formSpacing: 12px;
$labelFontWeight: 500;
$labelFontColor: lighten(#000, 30%);
$labelBtmMargin: 3px;
$inputFontColor: rgba(0,0,0,0.75);
$inputFontSize: 14px;
$inputBgColor: #fff;
$inputFocusBgColor: darken(#fff, 2%);
$inputBorderColor: darken(#fff, 20%);
$inputFocusBorderColor: darken(#fff, 30%);
$inputBorderStyle: solid;
$inputBorderWidth: 1px;
$inputBorderRadius: 2px;
$fieldsetBorderRadius: 3px;

// Custom Form Settings

$custFormBorderColor: #ccc;
$custFormBgColor: #fff;
$custCheckColor: #222;
$custSelectCurrentFontColor: #141414;
$custSelectBgColor: #fff;
$custSelectBorderColor: #ddd;
$custSelectTriangleColor: #aaa;
$custSelectTriangleColorOpen: #222;
$custSelectDropHeight: 200px;
$custDropdownBgColor: #fff;
$custDropdownBorderColor: darken(#fff, 20%);
$custDropdownFontColor: #555;
$custDropdownSelectedBgColor: lighten(#2ba6cb, 40%);
$custDropdownSelectedFontColor: #000;
$custFormDisabledBgColor: #ddd;

// Tab Settings

$tabHeight: 40px;
$tabTermFontSize: 12px;

// Nav Bar Settings

$navBarHeight: 40px;
$navFlyoutBaseWidth: 250px;