body {
    background: url(../images/bright_squares/bright_squares.png);
    text-shadow: 1px 1px #fff;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    body {
        background: url(../images/bright_squares/bright_squares_@2X.png);       
    }
}