#comments { 
    display: block; 
    margin: 0; 
    float: left; 
}

.comment {
    border-top: 1px solid $blue;
}

.even {
    background: #eee;
}

.commentlist,
.comment ol, .comment ul {
    list-style: none;
}

.comment-input-text textarea { 
    width: 80%; 
}

.comment-list { 
    margin: 0; 
    padding: 15px 0 0; 
}

.comment-list li { 
    list-style: none; 
    margin-bottom: 30px; 
}

.comment-list p { 
    padding: 15px 0 0; 
}

.comment-list p.heading {
    padding-top: 0; 
    font-size: 12px; 
}

.comment-list li .commbody { 
    border-top: 1px solid #F15A23; 
    padding: 0 0 8px; 
}

.comment-list ul { 
    margin-bottom: 0; 
}

.comment-list ul.children .commbody { 
    padding: 0 0 10px; 
}

.comment-author img { 
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
    float: left; 
    margin: 0 12px 12px 0;  
    @include border-radius(50%);
}

.comment-author cite.fn  { 
    font-style: normal; 
}

.comment-author cite.fn a { 
    color: #666; 
    font-weight: bold; 
}

.comment-author cite.fn a:hover { 
    color: #222; 
}

.comment-profile-wrapper { 
    text-align: center; 
    width: 105px; 
}

span.says { 
    display: none; 
}

.comment-meta { 
    color: #8d8d8d; 
    float: left; 
    font-style: italic; 
    font-size: 11px; 
    margin-top: 6px; 
}

.commleft { 
    border-top: 3px solid #F15A23; 
    float: left; 
    padding-top: 15px; 
    width: 215px; 
}

.commentmetadata a { 
    color: #6D6C6C; 
    font-style: normal;
}

.commentmetadata a:hover { 
    color: #484040; 
    text-decoration: none; 
}

.comment-gravatar { 
    margin-bottom: 
    3px; 
}

.comment-content-wrapper { 
    float: right; 
    width: 538px; 
}

.comment-parent, 
.comment-single { 
    margin-top: 15px; 
}


.comment-list ul.children, #comments #respond ul { 
    margin: 0 0 10px 15px; 
    padding: 9px 0 0 35px;
    list-style: none;
}

.comment-list ul.children ul.children { 
    margin-left: 40px;
}

.comment-list ul.children li { 
    margin: 0; 
    list-style: none;
}

.comment-body { 
    margin: 0; 
    padding: 10px 12px; 
    position: relative; 
}

.comment-body p {
    margin: 10px 42px;
    clear: both;
    margin-bottom: 0;
}

.comment-list li div p { 
    color: #808080; 
    margin-bottom: 0; 
    margin-left: 229px; 
    padding-right: 15px;
}

.comment .post-date { 
    margin-top: 0; 
}

.comment .post-date .right a { 
    color: #BBB; 
}

.comment .post-date .right a:hover { 
    color: #234; 
}

.reply {
    font-size: 11px; 
}

.reply a {
    display: block; 
    margin-right: 15px; 
    padding-left: 16px; 
    color: $blue;
}

.cancel-comment-reply { 
    margin: 0 0 7px; 
}

.reply a, 
.cancel-comment-reply a { 
    border: none; 
    margin-right: 3px; 
    text-transform: uppercase; 
}

.reply a:hover, 
.cancel-comment-reply a:hover { 
    color:#333; 
    text-decoration: none; 
}

.nocomments { 
    padding: 0 0 20px;
}

#respond li { 
    list-style: none; 
}

#respond ul { 
    margin: 0; 
}

#respond .legend { 
    margin-bottom: 10px; 
}

#comments #respond .legend { 
    border-bottom: 0; 
    margin-bottom: 0; 
}

#comments #respond ul { 
    padding: 10px 0 0 15px;  
}

#comments ul.children #respond ul { 
    margin-left: 30px; 
    padding: 0; 
}

#comments #respond .comment-profile-wrapper, #comments #respond .comment-arrow { 
    display: none; 
}

#comments #respond .comment-body { 
    background: #FFF; 
}

#comments #respond .comment-content-wrapper { 
    float: none; 
    width: 100%; 
}

#respond #formLabels p, 
#formContent p { 
    margin: 0; 
    padding: 4px 20px 3px 0; 
}

#respond label { 
    color: #7e7e7e; 
    float: left; 
    font-size: 13px; 
    margin: 8px 14px 0 0; 
    text-align: left; 
    width: 110px; 
    font-weight: normal;
}

#respond input, 
#respond textarea { 
    display: inline-block; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    @include border-radius(3px);
    margin-bottom: 10px; 
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#respond input:focus, 
#respond textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}

#respond #formLabels input { 
    width:55%;
}

#respond #formLabels span {
    margin: 0 0 0 10px; 
    font-size: 12px; 
    color: #7e7e7e; 
    font-style: italic;
}

#respond #formContent textarea { 
    width: 70%; 
    resize: vertical; 
    max-height: 500px; 
}

#respond .submit, 
.widget input#searchsubmit { 
    border: none; 
    font-size: 14px; 
    padding: 7px 20px 8px; 
    text-align: center; 
    text-shadow: 0 1px 0 #5A626A; 
    margin: 5px 0; 
    position: relative; 
    color: #ffffff; 
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#respond .submit:hover { 
    background-position: 0 -15px; 
}

#respond .submit:active {
    top: 1px; 
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
}

.comment-list li #respond p { 
    margin-left: 0; 
}
