.content {
    padding: 50px 0;
    background: $white;
    border: 1px solid $blue;
    .entry {
        margin-top: 20px;

        p {
            font-size: 1.5em;
        }
    }
}

.entry-title {
    margin-bottom: 20px;
    color: $blue;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #eee;
}    

article {
    margin-bottom: 40px;
}

.page-numbers {
    font-size: 1.2em;
}