.content {
    padding: 50px 0;
    background: $white;
    @include box-shadow(0px 0px 5px darken($gray, 20%) );

    .entry {
        margin-top: 20px;

        p {
            font-size: 1.2em;
        }
    }
}

.entry-title {
    margin-bottom: 20px;
    color: $blue;
    text-shadow: 1px 1px 1px $gray;
}    

article {
    margin-bottom: 40px;
}

.page-numbers {
    font-size: 1.2em;
}